/* MessageScreen.css */
.messageScreen {
  /* height: 200px;
  overflow-y: scroll; */
  /* border: 1px black solid; */
  padding: 3px;
  background-color: #daddd7;
}

.messageListWrapper {
  padding: 15px;
}

/* .messageImage {
  padding-right: 30px;
} */
